<!DOCTYPE html>
<html>

    <head>
        <!-- Adding bootstrap CSS styles -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Sentence Pairs</title>
        <link rel="stylesheet"
              type="text/css"
              href="main.css" />
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <img class="margin-top-10percent width-10percent"
                         src="./media/horizontal_light.png" />
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col text-primary-dark-grey">
                    <h1 class="text-center text-primary-mid-green margin-top-5percent">Text for Evaluation</h1>
                    <p class="margin-top-5percent">This page is for submission of data sets to be evaluated. The user
                        MUST provide a machine translation and a human translation as well as a name for
                        the sentence set. This name will be given to evaluators to identify the data set they should
                        analyse. Each individual sentence must be on a new line. The assumption is made that each block
                        of text will have the same number of sentences and that the sentences in each block match. E.g.
                        Sentence 1 in the Human Translated Text input and sentence 1 in the machine translated text
                        input will both be translations of sentence 1 of the Source Text input.
                    </p>
                    <form action="/dataset"
                          method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-4">

                                <label for="setName">Name of Sentence Set</label>
                                <input class="form-control"
                                       name="setName"
                                       id="setName"
                                       required></input>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="sourceLanguage">Source Language:</label>
                                <select class="form-control"
                                        name="sourceLanguage"
                                        required>
                                    <option></option>
                                    {{#each languageOptions}}
                                    <option value={{this.language}}>{{this.displayName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="targetLanguage">Target Language:</label>
                                <select class="form-control"
                                        name="targetLanguage"
                                        required>
                                    <option></option>
                                    {{#each languageOptions}}
                                    <option value={{this.language}}>{{this.displayName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sourceText">Source Text</label>
                            <textarea class="form-control"
                                      name="sourceText"
                                      id="sourceText"
                                      rows="10"
                                      required></textarea>
                        </div>

                        <div class="form-group">
                            <label for="humanTranslatedText">Human Translated Text</label>
                            <textarea class="form-control"
                                      name="humanTranslatedText"
                                      id="humanTranslatedText"
                                      rows="10"
                                      required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="machineTranslatedText">Machine Translated Text</label>
                            <textarea class="form-control"
                                      name="machineTranslatedText"
                                      id="machineTranslatedText"
                                      rows="10"
                                      required></textarea>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="includesPracticeData"
                                       id="includesPracticeData"
                                       required>
                                <label class="form-check-label"
                                       for="includesPracticeData">
                                    I understand that the first 5 sentences will be used as practice data and the scores
                                    for these sentences will not be recorded
                                </label>
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-2">
                                <button type="submit"
                                        class="btn button-primary btn-block">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>