<!DOCTYPE html>
<html>

    <head>
        <link rel="shortcut icon"
              href="media/favicon.ico"
              type="image/x-icon" />
        <!-- Adding bootstrap CSS styles -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Sentence Pairs</title>
        <link rel="stylesheet"
              type="text/css"
              href="main.css" />
    </head>

    <body class="bg-grey">
        <div>
            <img class="gourmet_logo"
                 src="./media/horizontal_light.png" />
        </div>
        <div class="container">
            <div class="row align-items-center height-70percent">
                <div class="col">
                    <h1 class="text-center text-primary-mid-green">Evaluation Set Complete</h1>
                    <div class="row justify-content-center">
                        <div class="col-sm-10 margin-top-5percent h5 text-primary-dark-grey">
                            <p>You’ve now completed the direct assessment phase of this evaluation.</p>
                            <p>As you may already be aware each sentence two you’ve just assessed was generated
                                by a machine, translated from English source text. Each sentence in black was written by
                                a person.</p>
                            <p>Before you end the evaluation please provide your thoughts on the machine
                                generated sentences that you have seen in this series.</p>
                            <p>For example, what was your overall impression? How did the sentences read? Were there any
                                recurring things of note? Did anything specific stand out?</p>
                            <p>Please write as freely and extensively as you wish. Your input is invaluable to the
                                academics who have produced this language model and continue to research machine
                                learning and artificial neural networks.</p>
                            <p>Once you’ve written your comments you’ll be able to complete the evaluation by clicking
                                on 'finish’ below.</p>
                            <form action="/feedback"
                                  method="POST">
                                <div class="row justify-content-center form-group">
                                    <div class="col">
                                        <input type="hidden"
                                               name="setId"
                                               value={{setId}} />
                                        <input type="hidden"
                                               name="evaluatorId"
                                               value={{evaluatorId}} />
                                        <input type="hidden"
                                               name="targetLanguage"
                                               value={{targetLanguage}} />
                                        <textarea class="form-control"
                                                  name="feedback"
                                                  rows="10"
                                                  required></textarea>
                                    </div>
                                </div>
                                <p>Thank you again. Your feedback is much appreciated.</p>
                                <p>The GoURMET team.</p>
                                <div class="row justify-content-center form-group">
                                    <div class="col-md-2">
                                        <button type="submit"
                                                class="btn button-primary btn-block">Finish</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>