<!DOCTYPE html>
<html>

    <head>
        <!-- Adding bootstrap CSS styles -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Sentence Pairs</title>
        <link rel="stylesheet"
              type="text/css"
              href="main.css" />
    </head>

    <body>
        <main class="container margin-bottom-7percent">
            <div class="row align-items-center">
                <div class="col margin-top-5percent">
                    <h1 class="text-center text-primary">Sentence Pair Evaluation</h1>
                    <h3 class="text-center text-secondary margin-top-5percent">The purpose of the evaluation is to
                        assess how well machine translation performs. You will be presented with a series of pairs of
                        sentences.
                        Sentence 1 has been translated by a human and sentence 2 has been translated by a machine.
                        Please use the slider to indicate how closely the meaning of the first sentence matches the
                        meaning of the second.
                    </h3>
                    <form class="margin-top-5percent"
                          action="/start"
                          method="POST">
                        <div class="row justify-content-center form-group">
                            <div class="col-md-6">
                                <label for="evaluatorId">Enter your evaluator ID:</label>
                                <input class="form-control"
                                       name="evaluatorId"
                                       required>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-center form-group">
                            <div class="col-md-6">
                                <label for="setId">Pick the set you have been asked to
                                    evaluate:</label>
                                <select class="form-control"
                                        name="setId"
                                        required>
                                    <option></option>
                                    {{#each sentenceSets}}
                                    <option value="{{this.setId}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-center form-group">
                            <div class="col-md-2">
                                <button type="submit"
                                        class="btn btn-primary btn-block">Begin</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer class="index-footer">
            <div class="container">
                <span class="text-muted">Evaluation Coordinator? Submit data sets <a
                       href="{{datasetSubmissionUrl}}">here</a></span>
            </div>
        </footer>
    </body>

</html>