<!DOCTYPE html>
<html>

    <head>
        <!-- Adding bootstrap CSS styles -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Sentence Pairs</title>
        <link rel="stylesheet"
              type="text/css"
              href="main.css" />
    </head>

    <body class="bg-grey">
        <div>
            <img class="gourmet_logo"
                 src="./media/horizontal_light.png" />
        </div>
        <main class="container margin-bottom-7percent">
            <div class="row align-items-center">
                <div class="col margin-top-5percent">
                    <h1 class="text-center text-primary-mid-green">Direct Assessment: Sentence evaluation</h1>
                    <div class="row justify-content-center">
                        <div class="col-sm-8 margin-top-5percent h5 text-primary-dark-grey">
                            <p>Thank you for agreeing to act as a direct assessor for the Gourmet neural language
                                project.</p>
                            <p>You will be evaluating test sets consisting of 105 pairs of sentences. Each pair is made
                                up of a model sentence and an alternative sentence.</p>
                            <p>For each pair you will be asked to use a slider to rate how strongly you agree or
                                disagree that the alternative sentence accurately expresses the meaning of the model
                                sentence and is well written.</p>
                            <p>Please make note of any thoughts you have about the quality or structure of the
                                alternative sentences as you work through the evaluation as you will be invited to
                                provide open feedback at the end. </p>
                            <p>If you are happy to proceed please click ‘OK’.</p>
                        </div>
                    </div>

                    <form class="margin-top-5percent"
                          action="/start"
                          method="GET">
                        <div class="row justify-content-center form-group">
                            <div class="col-md-2">
                                <button type="submit"
                                        class="btn btn-block button-primary">Ok</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer class="index__footer bg-white">
            <div class="container">
                <span class="text-primary-dark-grey">Evaluation Coordinator? Submit data sets <a
                       class="text-secondary-dark-purple"
                       href="{{datasetSubmissionUrl}}">here</a></span>
            </div>
        </footer>
    </body>

</html>