/* Project Colours */

.text-primary-mid-green {
  color: #95c11f;
}

.text-primary-dark-grey {
  color: #3c3c3b;
}

.text-secondary-light-grey {
  color: #e2e2e2;
}

.text-secondary-dark-purple {
  color: #4e2671;
}

.text-secondary-lime-green {
  color: #d7da18;
}

.text-secondary-pink-purple {
  color: #992699;
}

.text-purple {
  color: #4e1f78;
}

.bg-primary-mid-green {
  background-color: #95c11f;
}

.bg-primary-dark-grey {
  background-color: #3c3c3b;
}

.bg-secondary-light-grey {
  background-color: #e2e2e2;
}

.bg-secondary-dark-purple {
  background-color: #4e2671;
}

.bg-secondary-lime-green {
  background-color: #d7da18;
}

.bg-secondary-pink-purple {
  background-color: #992699;
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #f2f2f2;
}

.button-primary {
  background-color: #4e2671;
  color: #e2e2e2;
}

.button-primary:hover {
  color: #95c11f;
}

html {
  position: relative;
  min-height: 100%;
}

.height-70percent {
  height: 70vh;
}

.margin-top-5percent {
  margin-top: 5vh;
}

.margin-bottom-7percent {
  margin-bottom: 7vh;
}

.gourmet_logo {
  margin: 5vh;
  height: 5vh;
}

.evaluation__subtitle {
  margin-top: 2vh;
  font-size: larger;
}

.evaluation__form {
  margin-top: 2vh;
  padding: 5vh;
  background-color: #fff;
  border: 0.25vh solid #e2e2e2;
}

.index-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7vh; /* Set the fixed height of the footer here */
  line-height: 7vh; /* Vertically center the text there */
}

/* All of this is to style to the range input */
input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  margin: 4.5px 0;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: repeating-linear-gradient(
    to right,
    #e2e2e2,
    #e2e2e2 24%,
    #000 24%,
    #000 25%,
    #e2e2e2 25%,
    #e2e2e2 26%
  );
  border-radius: 25px;
  border: 0px solid rgba(1, 1, 1, 0.99);
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000031, 0px 0px 0px #00004b;
  border: 1.8px solid rgba(0, 0, 0, 0);
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #95c11f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: repeating-linear-gradient(
    to right,
    #e2e2e2,
    #e2e2e2 24%,
    #000 24%,
    #000 25%,
    #e2e2e2 25%,
    #e2e2e2 26%
  );
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: repeating-linear-gradient(
    to right,
    #e2e2e2,
    #e2e2e2 24%,
    #000 24%,
    #000 25%,
    #e2e2e2 25%,
    #e2e2e2 26%
  );
  border-radius: 25px;
  border: 0px solid rgba(1, 1, 1, 0.99);
}
input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000031, 0px 0px 0px #00004b;
  border: 1.8px solid rgba(0, 0, 0, 0);
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #95c11f;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: rgba(226, 226, 226, 0.78);
  border: 0px solid rgba(1, 1, 1, 0.99);
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type='range']::-ms-fill-upper {
  background: rgba(226, 226, 226, 0.78);
  border: 0px solid rgba(1, 1, 1, 0.99);
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type='range']::-ms-thumb {
  box-shadow: 0px 0px 1px #000031, 0px 0px 0px #00004b;
  border: 1.8px solid rgba(0, 0, 0, 0);
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #95c11f;
  cursor: pointer;
  height: 11px;
}
input[type='range']:focus::-ms-fill-lower {
  background: rgba(226, 226, 226, 0.78);
}
input[type='range']:focus::-ms-fill-upper {
  background: rgba(226, 226, 226, 0.78);
}

/* End of range styling */
